.wrapper {
    background-color: var(--bg-primary);
    padding-right: 90px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
    box-sizing: border-box;
    padding-bottom: 79px;
}

/* Пустое состояние на странице избранного - сердечко с пульсацией */
.favoriteClick {
    display: inline-block;
    margin: 0 12px;
    color: rgba(182, 114, 255, 1);
    animation: pulse 1.5s infinite;
}

@keyframes pulse {
    0%,
    100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
}
