.wrapper {
    min-height: 100vh;
    background-color: rgba(24, 24, 24, 1);
    padding: 0 90px 0 36px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
