.sidebar__icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
    overflow: hidden;
}

.sidebar__icon svg {
    width: 100%;
    height: 100%;
    fill: currentColor;
    stroke: currentColor;
    stroke-linecap: currentColor;
    color: var(--text-primary);
    background-color: transparent;
}
