.sidebarItem {
    width: 100%;
    overflow: hidden;
    transition:
        transform 0.3s ease,
        box-shadow 0.3s ease;
}

.sidebarItem:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.sidebarLink {
    display: block;
}

.sidebarImg {
    display: block;
}

@media (max-width: 1024px) {
    .sidebarItem {
        max-width: 200px;
    }
}
