.playerBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 79px;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    z-index: 1000;
    background: linear-gradient(180deg, rgba(24, 24, 24, 0) 0%, #181818 100%);
}

@media (max-width: 768px) {
    .playerBar {
        padding: 10px;
    }

    .playerBarBlock {
        flex-direction: column;
        gap: 15px;
    }
}
