.search {
    width: 100%;
    border-bottom: 1px solid var(--border-secondary);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.search__svg {
    width: 17px;
    height: 17px;
    margin-right: 5px;
    color: var(--text-primary);
    stroke: currentColor;
    fill: none;
}

.search__text {
    -webkit-box-flex: 100;
    -ms-flex-positive: 100;
    flex-grow: 100;
    background-color: transparent;
    border: none;
    padding: 13px 10px 14px;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--text-primary);
    outline: none;
}

.search__text::-webkit-input-placeholder {
    background-color: transparent;
    color: var(--text-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.search__text:-ms-input-placeholder {
    background-color: transparent;
    color: var(--text-primary);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.search__text::-ms-input-placeholder {
    background-color: transparent;
    color: var(--text-primary);
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
}

.search__text::placeholder {
    background-color: transparent;
    font-family: 'Montserrat';
    color: var(--text-primary);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}
